/*Navbar*/
.navbar-brand { 
p {
  display: block;
  margin: 0px auto;
  font-family: Caprasimo;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
}



/*Jumbo*/
.jumbo {
  background-image: url("/images/santorini-greece.jpg");
  height: 500px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
h1 {


}

}