/* Variables */
$primary: #ad91a3;
$secondary: #9bc1bc;
$white: #fef9eb;
$accent: #474350;
$accent-two: #e1ccd4;
$primary-font: Oooh Baby;
$secondary-font: Cormorant;
/* End Variables */

/* Global Styling */
h1 {
  font-family: $primary-font;
}

h2 {
  font-family: $primary-font;
  font-size: 35px;
  color: $primary;
}

h3 {
  font-family: $secondary-font;
  font-size: 25px;
}

h4 {
  font-family: $secondary-font;
}

.btn {
  background-color: #fff;
  color: #ad91a3;
  font-family: $secondary-font;
  font-size: 18px;
  box-shadow: none;
  border-radius: 30px;
  font-weight: 800;
  text-decoration: none;
  box-shadow: none !important;
}

.btn:hover {
  background-color: $secondary;
  color: #fff;
  box-shadow: none !important;
}

a {
  color: $primary;
  text-decoration: underline;
}

/* End Global Styling */

/*Navbar Fixes*/
.nav-item a {
  color: $secondary;
  text-decoration: none;
}

.dropdown a {
  color: $secondary;
  text-decoration: none;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.dropdown .fa-chevron-down {
  font-size: 10px !important;
}

.nav-link {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.dropdown a {
  padding-left: 25px;
  padding-right: 25px;
}

.overlay {
  position: relative;
}

.bg-img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  visibility: visible;
  background-position: center;
}

.wood-bg {
  background: $primary;
}

.wood-bg::before {
  background: rgba(0, 0, 0, 0.01);
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.navbar-brand {
  text-decoration: none;

  p {
    display: block;
    margin: 0px auto;
    font-family: Oooh Baby;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
  }
}

.dropdown {
  margin-top: 8px !important;
}

.dropdown p {
  margin-bottom: 0px !important;
}

/* End Navbar Fixes */

/* Jumbo */
.jumbo {
  background-image: url("https://kh7722.github.io/portfolio-website-two/images/santorini-greece.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.jumbo .btn {
  background-color: $white;
  color: $secondary;
  box-shadow: 1px 1px 5px #8e8e8e;
}

.jumbo .btn:hover {
  background-color: $secondary;
  color: #fff;
}

.jumbo h1 {
  font-size: 60px;
  text-shadow: 1px 1px 5px #8e8e8e;
}

.jumbo h4 {
  font-family: Cormorant;
  text-shadow: 1px 1px 5px #8e8e8e;
}

.jumbo-content {
  max-width: 450px;
  background-color: rgba(173, 145, 163, 0.5);
  padding: 30px;
  border-radius: 15px;
}

/* End Jumbo */

/* Content Block 1 */
.content-block-1 {
  background-color: $white;

  p {
    font-family: $secondary-font;
    font-size: 22px;
    color: #fff;
    line-height: 1.2;
  }

  .card {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-top: 15px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
  }

  .card .bg-image {
    border-radius: 0px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
  }

  .card-body {
    background-color: #ad91a3;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
/* End Content Block 1 */

/* Content Block 2 */
.content-block-2 {
  .col-md-8 {
    background-color: $white;
    border-radius: 15px;

    .col-md-6 {
      margin-left: 4%;
    }
  }

  .col-md-5 img {
    max-width: 300px;
    outline: #fff solid 1px;
    outline-offset: -5px;
  }

  .col-md-3 {
    background-color: $white;
    min-height: 450px;
    border-radius: 15px;
  }

  .col-md-3 img {
    max-width: 300px;
  }
  /*
  .col-md-5 {
    border-right: 1px solid #e1e1e1;
  }
  */

  .btn {
    background-color: $primary;
    color: #fff;
  }

  .btn:hover {
    background-color: $secondary;
    color: #fff;
  }
}
/* End Content Block 2 */

/* Content Block 3 */

.carousel-item {
  height: 400px;
}

.carousel-item img {
  margin-top: -300px;
  min-height: 800px;
}

.content-block-3 {
  a {
    color: #fff !important;
    text-decoration: none !important;

    h4 {
      font-size: 35px;
      background-color: rgb(173 145 163 / 90%);
      max-width: 250px;
      display: block;
      margin: 0px auto;
      border-radius: 30px;
      padding: 5px;
      margin-bottom: 30px;
    }
  }
}
/* Content Block 3 */

/* Content Block 4 */
.content-block-4 {
  margin-top: 35px;

  img {
    max-width: 450px;
    margin-left: -30px;
    outline: #fff solid 1px;
    outline-offset: -5px;
  }

  .card {
    background-color: #ad91a3;
    padding: 20px !important;
    height: 400px;
    justify-content: center;
  }

  .btn {
    max-width: 175px;
    margin: 0px auto;
  }

  .col-md-4 {
    padding: 0px;
  }
}

/* Content Block 4 */

/* Content Block 5 */
.content-block-5 {
  background-color: $primary;

  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .content {
    padding: 50px !important;
    text-align: center;
  }

  .col-md-3 {
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/* Content Block 5 */

/* Content Block 6 */

.content-block-6 {
  .col-md-3 .map-menu {
    border-radius: 10px;
  }

  .map-menu {
    background-color: $primary;

    .navbar-nav {
      flex-direction: column;
    }

    li a {
      color: #fff;
      font-family: $secondary-font;
      font-size: 20px;

      &:hover {
        color: $accent-two;
      }
    }

    .fa-location-dot {
      color: $accent-two;
    }
  }

  @media (max-width: 767px) {
    img {
      display: none !important;
    }
  }
}

/* Content Block 6 */

/* Content Block 7 */

.content-block-7 {
  position: relative;

  body {
    font-family: $secondary-font;
    font-size: 20px;
    margin: 0 auto;
    max-width: 960px;
    padding: 40px 10px;
    line-height: 1.65em;
    color: #fff;
    font-weight: 300;
  }

  #wordbox {
    margin: 0px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border-radius: 0px;
    color: #black;
    border: 2px solid #e1e1e1;
    font-family: $secondary-font;
  }

  #button {
    background: $primary;
    border: 0;
    color: #fff;
    font-family: $secondary-font;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    margin: 0px auto;
    display: block;
    border-radius: 100px;
    text-transform: uppercase;
  }
}

.content-block-7::after {
  content: "";
  background: url("https://kh7722.github.io/portfolio-website-two/images/compass-bg.jpg");
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* Content Block 7 */

/* Footer */
footer {
  position: relative;

  a {
    text-decoration: none;
    color: #757575;
  }
}

footer::after {
  content: "";
  background: url("https://kh7722.github.io/portfolio-website-two/images/leaves.png") !important;
  opacity: 0.03;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  filter: grayscale(100%);
}

/* Footer */

/* Media Qs */

@media (max-width: 1400px) {
  .content-block-2 {
    .col-md-5 img {
      max-width: 100%;
    }

    .col-md-3 img {
      max-width: 100%;
    }

    .col-md-8 {
      min-height: 457px;
      padding-top: 90px !important;
    }
  }
}

@media (max-width: 1199px) {
  .content-block-5 .col-md-3 {
    height: 350px;
    width: 50%;
  }

  .content-block-6 {
    .home-map {
      display: none;
    }

    .tba-destinations {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    .col-md-3 {
      max-width: 300px !important;
      margin: 0px auto;
      display: block;
      flex: 50% !important;
      margin-top: 30px;
    }
  }
}

@media (max-width: 992px) {
  .navbar-nav .dropdown-menu {
    background-color: $secondary;
    border-radius: 0px !important;
    color: #fff !important;
  }

  .navbar-nav .dropdown-menu li a {
    color: #fff;
  }

  .navbar .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .dropdown-menu {
    position: relative !important;
  }

  .navbar-brand {
    margin-top: 0px !important;
  }

  .content-block-4 .card {
    height: 350px;
  }

  .carousel-item img {
    margin-top: 0px;
  }

  .bg-img {
    margin-top: -10px;
  }

  .content-block-1 {
    .col-md {
      flex: 0 0 50%;
      max-width: 600px;
      margin: 0px auto;
    }

    .card .bg-image {
      border-top-left-radius: 300px;
      border-top-right-radius: 300px;
    }

    .card {
      border-top-left-radius: 300px;
      border-top-right-radius: 300px;
    }
  }

  .content-block-2 {
    .col-md-8 {
      width: 100% !important;
    }

    .col-md-3 {
      width: 100% !important;
      margin-top: 15px;
      padding: 5% !important;
    }

    .col-md-5 img {
      padding-right: 15px;
    }
  }

  .content-block-4 {
    .col-md-4 {
      width: 100% !important;
    }

    .col-md-4 {
      width: 100% !important;
    }

    img {
      max-width: 100%;
      margin: 0px auto;
      display: block;
      margin-bottom: -100px;
      z-index: 800;
      position: relative;
    }

    .row {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .content-block-6 .col-md-3 {
    width: 100%;
  }

  footer {
    .col-md-3 {
      max-width: 50% !important;
      flex: 0 0 50% !important;
      text-align: center;
      margin-top: 30px !important;
    }
    .col-md-2 {
      max-width: 50% !important;
      flex: 0 0 50% !important;
      text-align: center;
      margin-top: 30px !important;
    }
    .col-md-4 {
      max-width: 50% !important;
      flex: 0 0 50% !important;
      text-align: center;
      margin-top: 30px !important;
    }
  }
}

@media (max-width: 768px) {
  .content-block-1 {
    .col-md {
      flex: 0 0 100%;
      max-width: 450px;
      margin: 0px auto;
    }
  }

  .content-block-2 {
    .col-md-5 {
      border-right: 0px solid #e1e1e1 !important;

      img {
        margin-bottom: 30px !important;
      }
    }

    .col-md-8 {
      min-height: auto;
      padding-top: 40px !important;
    }
  }

  .content-block-5 .col-md-3 {
    height: 385px;
  }
}

@media (max-width: 680px) {
  .content-block-5 .content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  p {
    font-size: 15 px !important;
  }
}

@media (max-width: 576px) {
  .content-block-2 .row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-block-4 .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 481px) {
  .jumbo {
    height: 350px;

    h1 {
      font-size: 40px;
    }
  }

  .jumbo-content {
    max-width: auto;
    background-color: rgba(173, 145, 163, 0.9);
    text-align: center !important;
  }

  .carousel-item img {
    min-height: 300px;
    max-height: 300px;
  }

  .carousel-indicators {
    display: none !important;
  }

  .content-block-3 h4 {
    margin-bottom: 80px !important;
  }

  .content-block-6 {
    padding-top: 0px !important;
  }
}
